#root {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.status {
  width: 20px;
  height: 20px;
  background-color: rgb(231, 221, 73);
  border-radius: 50%;
}

.status_success {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(105, 231, 73);
}
